.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 30px;
}

.logo {
  color: red;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: red;
}
